// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
  margin: auto;
  padding-left: 20px;
  text-align: left;
}

h1 {
  font-family: sans-serif;
  color: rgba(50, 50, 50, 0.8);
}

p {
  font-family: sans-serif;
  color: grey;
}
.banner {
  h1 {
    color: blue ;
    font-family: sans-serif;
  }
}

input {
  width: 500px;
  height: 30px;
  border-style: solid;
  border-width: thin;
  border-radius: 3px;
  border-color: grey;
}

#button {
  width: 40px;
  height: 35px;
  background-color: #1976d2;
  color: white;
  border-color: #1976d2;
  margin-left: none;
}


a {
  color: grey;
  font-family: sans-serif;
  text-decoration: none;
  &:hover {
    color: black;
  }
}


